.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222;
}

.footer-row {
  width: 90%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-row .col {
  width: 27%;
}

.col h2 {
  font-weight: 300;
  font-size: 28px;
  color: #fff;
  margin-bottom: 8px;
}

.col h3 {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
}

.col p {
  font-size: 16px;
  line-height: 1.4em;
  color: #fafafa;
  max-width: 500px;
}

.col ul li {
  list-style: none;
  margin-top: 12px;
}

.col ul li a {
  color: #fafafa;
  transition: 0.3s all linear;
}

.col ul li a:hover {
  color: rgb(45, 189, 255);
}

.copyright {
  width: 100%;
  align-items: center;
  background: #fff;
  color: #000;
  padding: 15px 25px;
}

.copyright .col {
  text-align: center;
  margin-bottom: 0;
}

.copyright p {
  color: #000;
  font-size: 16px;
}

.copyright .col a {
  transition: 0.3s all linear;
}

.copyright .col a:hover {
  color: rgb(45, 189, 255);
}

.footer-social-links {
  display: flex;
  gap: 15px;
}
.footer-social-links a {
  display: flex;
}
.footer-social-links i {
  font-size: 24px;
}

/* Media Queries */
@media screen and (max-width: 980px) {
  .footer-row {
    display: block;
    padding: 25px 0;
  }
  .copyright {
    padding: 15px;
  }
  .footer-row .col {
    width: 100%;
    margin-bottom: 25px;
  }
  .col h2 {
    font-size: 26px;
  }
  .col h3 {
    font-size: 17px;
  }
  .col p {
    font-size: 15px;
  }
  .copyright .col {
    text-align: left;
    margin-bottom: 0;
    padding: 8px;
  }
  .footer-social-links i {
    font-size: 22px;
  }
}

@media screen and (max-width: 980px) {
  .col h2 {
    font-size: 24px;
  }
  .col h3 {
    font-size: 16px;
  }
  .col p {
    font-size: 14px;
  }
  .footer-social-links i {
    font-size: 20px;
  }
}
