@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rammetto One', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #000;
}

[transition-style='in:circle:top-right'] {
  --transition__duration: 3s;
}
